*{
    font-family: poppins;
    margin: 0;
    padding: 0;
    color: #043133;
}
.registry{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 100px;
}
.head{
    font-family: poppins;
    font-size: 35px;
    padding-bottom: 20px;
}
.img1 img{
    width: 450px;
    height: 50vh;
    /* padding-top: 100px; */
    margin-left: 100px;
}
.m1{
    padding-left: 50px;
    margin-right: 100px;
}
form > p{
    font-size: 30px;
    margin: 5px;
    /* height: 35px; */
}
#mail{
    font-weight: bold;
    font-family: poppins;
    font-size: 20px;
}
#pass{
    font-weight: bold;
    font-family: poppins;
    font-size: 20px;
}
#mail-1{
    background-color: ffffff;
    width: 500px;
    height: 50px;
    box-shadow: #043133 0px 1px 2px 0px, #043133 0px 1px 3px 1px;

    margin-bottom: 50px;
}
#pass-1{
    background-color: ffffff;
    width: 500px;
    height: 50px;
    box-shadow: #043133 0px 1px 2px 0px, #043133 0px 1px 3px 1px;
}
input{
    border-radius: 10px;
    padding: 6px 0 6px 25px;
    background-color: #EFF0F2;
}
.btn{
    border: none;
    border-radius: 8px;
    background-color: #F58449;
    color: white;
    height: 50px;
    width: 350px;
    margin-left: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: large;
}
#forgot{
    /* margin-left: 125px; */
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    padding-left: 0;
    width: 5o0px;
    display: flex;
    justify-content: center;
}
#or{
    /* margin-left: 180px; */
    margin-bottom: 20px;
    font-size: 25px;
    display: flex;
    justify-content: center;
}
#log{
    margin-left: 125px;
    background-color: white;
    border-radius: 1px;
    height: 50px;
    width: 200px;
}
/* @media screen { */
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px){
        .registry{
            display: inline-block;
        }
    }
    .img1 img{
        width: 30px;
        height: 15vh;
        /* padding-top: 100px; */
        margin-left: 70px;
        margin-right: 50px;
        margin-top: 5px;
    }
    .head{
        font-family: poppins;
        font-size: 10px;
        padding-bottom: 20px;
        padding-left: 10px;
    }
    #mail{
        font-weight: bold;
        font-family: poppins;
        font-size: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }
    #mail-1{
        background-color: ffffff;
        width: 50px;
        height: 8px;
        box-shadow: #043133 0px 1px 2px 0px, #043133 0px 1px 3px 1px;
    
        margin-bottom: 50px;
        font-size: 6px;
        padding-left: 10px;
        padding-right: 50px;
        margin-left: 5px;
        margin-right: 5px;
    }
    #pass{
        font-weight: bold;
        font-family: poppins;
        font-size: 10px;
        padding-left: 1px;
        padding-right: 1px;
        
    }
    #pass-1{
        background-color: ffffff;
        width: 50px;
        height: 8px;
        box-shadow: #043133 0px 1px 2px 0px, #043133 0px 1px 3px 1px;
    
        margin-bottom: 50px;
        font-size: 6px;
        padding-left: 10px;
        padding-right: 50px;
        margin-left: 5px;
        margin-right: 5px;
        
    }
    .btn{
        border: none;
        border-radius: 8px;
        background-color: #F58449;
        color: white;
        height: 30px;
        width: 50px;
        margin-left: 30px;
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 10px;
    }
    #forgot{
        /* margin-left: 125px; */
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 7px;
        /* padding-left: 0; */
        width: 3px;
        display: flex;
        justify-content: center;


    }
    #or{
        /* margin-left: 180px; */
        margin-bottom: 10px;
        font-size: 8px;
        display: flex;
        justify-content: center;
        font-size: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }
    #log{
        margin-left: 115px;
        background-color: white;
        border-radius: 1px;
        height: 15px;
        width: 30px;
        /* margin-bottom: -15px; */
    }
    
