@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
* {
  font-family: "Nunito";
}
.nav_container {
  padding-top: 40;
}
.nav_components ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid;
  padding-bottom: 10px;
}
.ifont {
  font-size: 25px;
  color: #043133;
  /* border: solid; */
}
.nav_components a {
  text-decoration: none;
}
.nav_components a:hover {
  font-size: 40px;
  color: yellowgreen;
}
.profilelogo {
  /* border: solid; */
  padding: 10;
}
.title {
  text-align: center;
  font-size: 35;
  margin-bottom: 120;
  /* font-family: i; */
}
.Mid-body {
  display: flex;
  justify-content: space-around;

  /* background-color: rgb(252, 245, 245); */
}
.image1,
.image2,
.image3 {
  border: solid #fa510f 20px;
  width: 200px;
  height: 200px;
  /* padding-bottom: -120px; */
  border-radius: 50%;
  /* background-color: rgb(219, 28, 28); */
  align-items: center;
}
.image1 img {
  padding-top: 20%;
  height: 120px;
  padding-left: 17%;
  align-items: center;
}
.image2 img {
  padding-top: 20%;
  height: 120px;
  padding-left: 23%;
  align-items: center;
}
.image3 img {
  padding-top: 55;
  border-radius: 50px;
  height: 120px;
  padding-left: 6%;
  @media add (max-width 350px) {
    width: 10px;
  }
}

.bottom {
  justify-content: space-between;
  margin: auto;
  margin-bottom: 0px;
  padding: 80px;
  display: flex;
  padding-top: 40px;
  background-color: #101f3c;
  color: #fff;
  list-style: none;
}
.last {
  justify-content: space-between;
  display: block;
}
.last strong {
  font-size: 15px;
}
.Mid-body {
  display: auto;
}
.image {
  height: 45px;
  font-size: small;
}
/* @media screen and (max-device-width: 360px) {
  .nav_container {
    display: block;
    border: solid 1px black;
    list-style: none;
  }
  .nav_components ul {
    display: inline;
    list-style: none;
    padding-left: 10px;
  }
  .nav_container ul strong {
    text-decoration-style: none;
    border: solid blue 1px;
    margin-left: 30px;
    margin-top: 5px;
  }
  .nav_container ul i {
    margin-left: 200px;
    border: solid 2px rgb(255, 153, 0);
    border-radius: 50%;
    padding: 20px 15px 20px 15px;
    background: paleturquoise;
    margin-top: 5px;
  }
  .moringalogo {
    border: solid;
    align-items: center;
    /* padding-left: 30px; */
    /* margin-left: 30px;
  }

  * {
    margin-right: 10px;
  }
  .title {
    align-content: center;
  }

  .image1,
  .image2,
  .image3 {
    margin-left: 43px;
    margin-top: 5px;
    padding-top: 50px;
    width: 250px;
    height: 250px;
    border: solid;
    background-color: #fa510f;
    border-radius: 50%;
  }
  .Mid-body img {
    padding-left: 25px;
  } */ */
  /* .image1 strong{
border: solid rgb(66, 173, 164) 3px;
margin-left: 72px;

font-size: 25px;
color: white;
} */
  /* 
.image2{
    margin-left: 43px;
    margin-top: 50px;
    padding-top: 50px;
    padding-left: 40px;
    width: 250px;
    height: 250px;
    border: solid ;
    background-color: #fa510f;
    border-radius: 50%;
} */
  /* 
.image2 strong{
border: solid rgb(66, 173, 164) 3px;
margin-left: 50px;
margin-top: 50px;
font-size: 25px;
color: black;
} */

  /* .image3{
    margin-left: 43px;
    margin-top: 50px;
    padding-top: 50px;
    width: 250px;
    height: 250px;
    border: solid ;
    background-color: #fa510f;
    border-radius: 50%;
} */
  /* 
.image3 strong{
border: solid rgb(66, 173, 164) 3px;
margin-left: 55px;
font-size: 25px;
color: black;
margin-top:100px ;
padding-top: -50px;
padding-bottom: 50px;
} */
  /* .bottom {
    display: block;
    background-color: blue;
    margin-bottom: 250px;
  }
  .last img {
    width: 200px;
    height: 70px;
  }
  .last iframe {
    width: 250px;
    margin-left: 30px;
  }
} */
